<html>

<head>
</head>

<body ng-app="IndexedDb.Utils">
    <div ng-controller="MainCtrl as main">
        <button type="button" ng-click="main.insertData()">Insert Initial Data</button>
        <button type="button" ng-click="main.selectAll()">Get All Data</button>
        <hr />
        <h1>Insert/Update</h1>
        <p>Useful for adding or updating records in the database</p>
        <hr />
        <form ng-submit="main.updateByKey(main.data)" name="insertUpdateForm">
            <input type="tel" ng-model="main.data.TestId" placeholder="Enter Id" />
            <input type="text" ng-model="main.data.Column1" placeholder="Enter Column1" />
            <input type="text" ng-model="main.data.Column2" placeholder="Enter Column2" />
            <button type="submit">Update/Add Row</button>
        </form>
        <h1>Delete</h1>
        <p>Used to delete a specific record</p>
        <hr />
        <form ng-submit="main.deleteRow(main.rowToDelete)" name="deleteForm">
            <input type="tel" ng-model="main.rowToDelete" placeholder="Row Id to Delete" />
            <button type="submit">Delete Row</button>
        </form>
        <h1>Select Row by Key</h1>
        <p>Useful for finding a record when its key is known</p>
        <hr />
        <form ng-submit="main.getByKey(main.keyValue)" name="getByKeyForm">
            <input type="text" ng-model="main.keyValue" placeholder="Key Value to Search For" />
            <button type="submit">Search Value</button>
        </form>
        <div ng-show="main.singleRecord !== null">
            <h2>Result</h2>
            <span>TestId: {{main.singleRecord.TestId}} Column1: {{main.singleRecord.Column1}} Column2: {{main.singleRecord.Column2}}</span>
        </div>
        <h1>Select Row by Index</h1>
        <p>Usefule for finding a record when its index's value and name are both known</p>
        <hr />
        <form ng-submit="main.getByIndex(main.indexValue, main.indexName)" name="getByKeyForm">
            <input type="text" ng-model="main.indexValue" placeholder="Index Value to Search For" />
            <select ng-options="index.Text for index in main.indeceNames" ng-model="main.indexName">
                <option value="">-- Select Index --</option>
            </select>
            <button type="submit">Search Value</button>
        </form>
        <div ng-show="main.singleIndexRecord !== null">
            <h2>Result</h2>
            <span>
                TestId: {{main.singleIndexRecord.TestId}} Column1: {{main.singleIndexRecord.Column1}} Column2: {{main.singleIndexRecord.Column2}}
            </span>
        </div>
        <h1>Select Known Column by Value</h1>
        <p>Less performant than By Index or Key. Works if you know the column name you are searching</p>
        <hr />
        <form ng-submit="main.getByValue(main.value, main.columnName)" name="getByValueForm">
            <input type="text" ng-model="main.value" placeholder="Enter Value to Search For" />
            <select ng-options="column.Text for column in main.columnNames" ng-model="main.columnName">
                <option value="">-- Select Column Name</option>
            </select>
            <button type="submit">Search Value</button>
        </form>
        <div ng-show="main.valueForColumnRecoreds !== null">
            <h2>Result(s)</h2>
            <div ng-repeat="returnedRecord in main.valueForColumnRecords">
                TestId: {{returnedRecord.TestId}} Column1: {{returnedRecord.Column1}} Column2: {{returnedRecord.Column2}}
            </div>
        </div>
        <h1>Free Text Search</h1>
        <p>Least performant query. Will return fields based on pattern matching of all column values</p>
        <hr />
        <form ng-submit="main.freeTextSearch(main.freeText)" name="freeTextSearchForm">
            <input type="text" ng-model="main.freeText" placeholder="Search String" />
            <button type="submit">Search</button>
        </form>
        <div ng-show="main.valueForFreeText !== null">
            <h2>Result(s)</h2>
            <div ng-repeat="returnedRecord in main.valueForFreeText">
                TestId: {{returnedRecord.TestId}} Column1: {{returnedRecord.Column1}} Column2: {{returnedRecord.Column2}}
            </div>
        </div>
        <h1>Select Record(s) by Position</h1>
        <p>Useful for paging or when a start and stop number of records can be provided</p>
        <hr />
        <form ng-submit="main.getByPosition(main.start, main.stop)" name="getByPositionForm">
            <input type="tel" ng-model="main.start" placeholder="Enter Start Number" />
            <input type="tel" ng-model="main.stop" placeholder="Enter Stop Number" />
            <button type="submit">Get Records</button>
        </form>
        <div ng-show="main.recordsByPosition !== null">
            <h2>Result</h2>
            <div ng-repeat="record in main.recordsByPosition">
                TestId: {{record.TestId}} Column1: {{record.Column1}} Column2: {{record.Column2}}
            </div>
        </div>
        <h1>Results</h1>
        <hr />
        <p>Number of Results First Db: {{main.results.length}}</p>
        <div ng-repeat="result in main.results">
            <span>TestId: {{result.TestId}} Column1: {{result.Column1}} Column2: {{result.Column2}}</span>
        </div>
    </div>
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <script src="src/release/ConnectionFactory.js"></script>
    <script src="src/release/DatabaseObject.js"></script>
    <script src="src/release/IndecesObject.js"></script>
    <script src="src/release/ObjectStoreObject.js"></script>
    <script src="src/release/TransactionFactory.js"></script>
    <script src="src/release/angular-indexed-db.js"></script>
    <script src="src/release/app.js"></script>
    <script src="src/release/helper.factory.js"></script>
    <!-- include: "type": "js", "files": "src/example/*.js" -->

    <!-- /include -->
</body>

</html>
